GalgelegWeb/src/conf/xml-resources/web-service-references/galgeleg/wsdl/ubuntu4.javabog.dk_55556/galgeleg.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://galgeleg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://galgeleg/" name="GalgelogikService">
<types>
<xsd:schema>
<xsd:import namespace="http://galgeleg/" schemaLocation="http://ubuntu4.javabog.dk:55556/galgeleg?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="erSidsteBogstavKorrekt">
<part name="parameters" element="tns:erSidsteBogstavKorrekt"></part>
</message>
<message name="erSidsteBogstavKorrektResponse">
<part name="parameters" element="tns:erSidsteBogstavKorrektResponse"></part>
</message>
<message name="erSpilletSlut">
<part name="parameters" element="tns:erSpilletSlut"></part>
</message>
<message name="erSpilletSlutResponse">
<part name="parameters" element="tns:erSpilletSlutResponse"></part>
</message>
<message name="erSpilletTabt">
<part name="parameters" element="tns:erSpilletTabt"></part>
</message>
<message name="erSpilletTabtResponse">
<part name="parameters" element="tns:erSpilletTabtResponse"></part>
</message>
<message name="erSpilletVundet">
<part name="parameters" element="tns:erSpilletVundet"></part>
</message>
<message name="erSpilletVundetResponse">
<part name="parameters" element="tns:erSpilletVundetResponse"></part>
</message>
<message name="getAntalForkerteBogstaver">
<part name="parameters" element="tns:getAntalForkerteBogstaver"></part>
</message>
<message name="getAntalForkerteBogstaverResponse">
<part name="parameters" element="tns:getAntalForkerteBogstaverResponse"></part>
</message>
<message name="getBrugteBogstaver">
<part name="parameters" element="tns:getBrugteBogstaver"></part>
</message>
<message name="getBrugteBogstaverResponse">
<part name="parameters" element="tns:getBrugteBogstaverResponse"></part>
</message>
<message name="getMuligeOrd">
<part name="parameters" element="tns:getMuligeOrd"></part>
</message>
<message name="getMuligeOrdResponse">
<part name="parameters" element="tns:getMuligeOrdResponse"></part>
</message>
<message name="getOrdet">
<part name="parameters" element="tns:getOrdet"></part>
</message>
<message name="getOrdetResponse">
<part name="parameters" element="tns:getOrdetResponse"></part>
</message>
<message name="getSynligtOrd">
<part name="parameters" element="tns:getSynligtOrd"></part>
</message>
<message name="getSynligtOrdResponse">
<part name="parameters" element="tns:getSynligtOrdResponse"></part>
</message>
<message name="gætBogstav">
<part name="parameters" element="tns:gætBogstav"></part>
</message>
<message name="gætBogstavResponse">
<part name="parameters" element="tns:gætBogstavResponse"></part>
</message>
<message name="hentBruger">
<part name="parameters" element="tns:hentBruger"></part>
</message>
<message name="hentBrugerResponse">
<part name="parameters" element="tns:hentBrugerResponse"></part>
</message>
<message name="hentNavn">
<part name="parameters" element="tns:hentNavn"></part>
</message>
<message name="hentNavnResponse">
<part name="parameters" element="tns:hentNavnResponse"></part>
</message>
<message name="hentOrdFraDr">
<part name="parameters" element="tns:hentOrdFraDr"></part>
</message>
<message name="hentOrdFraDrResponse">
<part name="parameters" element="tns:hentOrdFraDrResponse"></part>
</message>
<message name="hentUrl">
<part name="parameters" element="tns:hentUrl"></part>
</message>
<message name="hentUrlResponse">
<part name="parameters" element="tns:hentUrlResponse"></part>
</message>
<message name="logStatus">
<part name="parameters" element="tns:logStatus"></part>
</message>
<message name="logStatusResponse">
<part name="parameters" element="tns:logStatusResponse"></part>
</message>
<message name="nulstil">
<part name="parameters" element="tns:nulstil"></part>
</message>
<message name="nulstilResponse">
<part name="parameters" element="tns:nulstilResponse"></part>
</message>
<message name="opdaterSynligtOrd">
<part name="parameters" element="tns:opdaterSynligtOrd"></part>
</message>
<message name="opdaterSynligtOrdResponse">
<part name="parameters" element="tns:opdaterSynligtOrdResponse"></part>
</message>
<message name="setOrdet">
<part name="parameters" element="tns:setOrdet"></part>
</message>
<message name="setOrdetResponse">
<part name="parameters" element="tns:setOrdetResponse"></part>
</message>
<message name="doit">
<part name="parameters" element="tns:doit"></part>
</message>
<message name="doitResponse">
<part name="parameters" element="tns:doitResponse"></part>
</message>
<message name="IllegalAccessException">
<part name="fault" element="tns:IllegalAccessException"></part>
</message>
<message name="InvocationTargetException">
<part name="fault" element="tns:InvocationTargetException"></part>
</message>
<message name="NoSuchMethodException">
<part name="fault" element="tns:NoSuchMethodException"></part>
</message>
<message name="getint">
<part name="parameters" element="tns:getint"></part>
</message>
<message name="getintResponse">
<part name="parameters" element="tns:getintResponse"></part>
</message>
<message name="getlist">
<part name="parameters" element="tns:getlist"></part>
</message>
<message name="getlistResponse">
<part name="parameters" element="tns:getlistResponse"></part>
</message>
<message name="users">
<part name="parameters" element="tns:users"></part>
</message>
<message name="usersResponse">
<part name="parameters" element="tns:usersResponse"></part>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"></part>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"></part>
</message>
<message name="get">
<part name="parameters" element="tns:get"></part>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"></part>
</message>
<message name="put">
<part name="parameters" element="tns:put"></part>
</message>
<message name="putResponse">
<part name="parameters" element="tns:putResponse"></part>
</message>
<message name="check">
<part name="parameters" element="tns:check"></part>
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse"></part>
</message>
<message name="print">
<part name="parameters" element="tns:print"></part>
</message>
<message name="printResponse">
<part name="parameters" element="tns:printResponse"></part>
</message>
<portType name="GalgeI">
<operation name="erSidsteBogstavKorrekt">
<input wsam:Action="http://galgeleg/GalgeI/erSidsteBogstavKorrektRequest" message="tns:erSidsteBogstavKorrekt"></input>
<output wsam:Action="http://galgeleg/GalgeI/erSidsteBogstavKorrektResponse" message="tns:erSidsteBogstavKorrektResponse"></output>
</operation>
<operation name="erSpilletSlut">
<input wsam:Action="http://galgeleg/GalgeI/erSpilletSlutRequest" message="tns:erSpilletSlut"></input>
<output wsam:Action="http://galgeleg/GalgeI/erSpilletSlutResponse" message="tns:erSpilletSlutResponse"></output>
</operation>
<operation name="erSpilletTabt">
<input wsam:Action="http://galgeleg/GalgeI/erSpilletTabtRequest" message="tns:erSpilletTabt"></input>
<output wsam:Action="http://galgeleg/GalgeI/erSpilletTabtResponse" message="tns:erSpilletTabtResponse"></output>
</operation>
<operation name="erSpilletVundet">
<input wsam:Action="http://galgeleg/GalgeI/erSpilletVundetRequest" message="tns:erSpilletVundet"></input>
<output wsam:Action="http://galgeleg/GalgeI/erSpilletVundetResponse" message="tns:erSpilletVundetResponse"></output>
</operation>
<operation name="getAntalForkerteBogstaver">
<input wsam:Action="http://galgeleg/GalgeI/getAntalForkerteBogstaverRequest" message="tns:getAntalForkerteBogstaver"></input>
<output wsam:Action="http://galgeleg/GalgeI/getAntalForkerteBogstaverResponse" message="tns:getAntalForkerteBogstaverResponse"></output>
</operation>
<operation name="getBrugteBogstaver">
<input wsam:Action="http://galgeleg/GalgeI/getBrugteBogstaverRequest" message="tns:getBrugteBogstaver"></input>
<output wsam:Action="http://galgeleg/GalgeI/getBrugteBogstaverResponse" message="tns:getBrugteBogstaverResponse"></output>
</operation>
<operation name="getMuligeOrd">
<input wsam:Action="http://galgeleg/GalgeI/getMuligeOrdRequest" message="tns:getMuligeOrd"></input>
<output wsam:Action="http://galgeleg/GalgeI/getMuligeOrdResponse" message="tns:getMuligeOrdResponse"></output>
</operation>
<operation name="getOrdet">
<input wsam:Action="http://galgeleg/GalgeI/getOrdetRequest" message="tns:getOrdet"></input>
<output wsam:Action="http://galgeleg/GalgeI/getOrdetResponse" message="tns:getOrdetResponse"></output>
</operation>
<operation name="getSynligtOrd">
<input wsam:Action="http://galgeleg/GalgeI/getSynligtOrdRequest" message="tns:getSynligtOrd"></input>
<output wsam:Action="http://galgeleg/GalgeI/getSynligtOrdResponse" message="tns:getSynligtOrdResponse"></output>
</operation>
<operation name="gætBogstav">
<input wsam:Action="http://galgeleg/GalgeI/gætBogstavRequest" message="tns:gætBogstav"></input>
<output wsam:Action="http://galgeleg/GalgeI/gætBogstavResponse" message="tns:gætBogstavResponse"></output>
</operation>
<operation name="hentBruger">
<input wsam:Action="http://galgeleg/GalgeI/hentBrugerRequest" message="tns:hentBruger"></input>
<output wsam:Action="http://galgeleg/GalgeI/hentBrugerResponse" message="tns:hentBrugerResponse"></output>
</operation>
<operation name="hentNavn">
<input wsam:Action="http://galgeleg/GalgeI/hentNavnRequest" message="tns:hentNavn"></input>
<output wsam:Action="http://galgeleg/GalgeI/hentNavnResponse" message="tns:hentNavnResponse"></output>
</operation>
<operation name="hentOrdFraDr">
<input wsam:Action="http://galgeleg/GalgeI/hentOrdFraDrRequest" message="tns:hentOrdFraDr"></input>
<output wsam:Action="http://galgeleg/GalgeI/hentOrdFraDrResponse" message="tns:hentOrdFraDrResponse"></output>
</operation>
<operation name="hentUrl">
<input wsam:Action="http://galgeleg/GalgeI/hentUrlRequest" message="tns:hentUrl"></input>
<output wsam:Action="http://galgeleg/GalgeI/hentUrlResponse" message="tns:hentUrlResponse"></output>
</operation>
<operation name="logStatus">
<input wsam:Action="http://galgeleg/GalgeI/logStatusRequest" message="tns:logStatus"></input>
<output wsam:Action="http://galgeleg/GalgeI/logStatusResponse" message="tns:logStatusResponse"></output>
</operation>
<operation name="nulstil">
<input wsam:Action="http://galgeleg/GalgeI/nulstilRequest" message="tns:nulstil"></input>
<output wsam:Action="http://galgeleg/GalgeI/nulstilResponse" message="tns:nulstilResponse"></output>
</operation>
<operation name="opdaterSynligtOrd">
<input wsam:Action="http://galgeleg/GalgeI/opdaterSynligtOrdRequest" message="tns:opdaterSynligtOrd"></input>
<output wsam:Action="http://galgeleg/GalgeI/opdaterSynligtOrdResponse" message="tns:opdaterSynligtOrdResponse"></output>
</operation>
<operation name="setOrdet">
<input wsam:Action="http://galgeleg/GalgeI/setOrdetRequest" message="tns:setOrdet"></input>
<output wsam:Action="http://galgeleg/GalgeI/setOrdetResponse" message="tns:setOrdetResponse"></output>
</operation>
<operation name="doit">
<input wsam:Action="http://galgeleg/GalgeI/doitRequest" message="tns:doit"></input>
<output wsam:Action="http://galgeleg/GalgeI/doitResponse" message="tns:doitResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://galgeleg/GalgeI/doit/Fault/IllegalAccessException"></fault>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://galgeleg/GalgeI/doit/Fault/InvocationTargetException"></fault>
<fault message="tns:NoSuchMethodException" name="NoSuchMethodException" wsam:Action="http://galgeleg/GalgeI/doit/Fault/NoSuchMethodException"></fault>
</operation>
<operation name="getint">
<input wsam:Action="http://galgeleg/GalgeI/getintRequest" message="tns:getint"></input>
<output wsam:Action="http://galgeleg/GalgeI/getintResponse" message="tns:getintResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://galgeleg/GalgeI/getint/Fault/IllegalAccessException"></fault>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://galgeleg/GalgeI/getint/Fault/InvocationTargetException"></fault>
<fault message="tns:NoSuchMethodException" name="NoSuchMethodException" wsam:Action="http://galgeleg/GalgeI/getint/Fault/NoSuchMethodException"></fault>
</operation>
<operation name="getlist">
<input wsam:Action="http://galgeleg/GalgeI/getlistRequest" message="tns:getlist"></input>
<output wsam:Action="http://galgeleg/GalgeI/getlistResponse" message="tns:getlistResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://galgeleg/GalgeI/getlist/Fault/IllegalAccessException"></fault>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://galgeleg/GalgeI/getlist/Fault/InvocationTargetException"></fault>
<fault message="tns:NoSuchMethodException" name="NoSuchMethodException" wsam:Action="http://galgeleg/GalgeI/getlist/Fault/NoSuchMethodException"></fault>
</operation>
<operation name="users">
<input wsam:Action="http://galgeleg/GalgeI/usersRequest" message="tns:users"></input>
<output wsam:Action="http://galgeleg/GalgeI/usersResponse" message="tns:usersResponse"></output>
</operation>
<operation name="remove">
<input wsam:Action="http://galgeleg/GalgeI/removeRequest" message="tns:remove"></input>
<output wsam:Action="http://galgeleg/GalgeI/removeResponse" message="tns:removeResponse"></output>
</operation>
<operation name="get">
<input wsam:Action="http://galgeleg/GalgeI/getRequest" message="tns:get"></input>
<output wsam:Action="http://galgeleg/GalgeI/getResponse" message="tns:getResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://galgeleg/GalgeI/get/Fault/IllegalAccessException"></fault>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://galgeleg/GalgeI/get/Fault/InvocationTargetException"></fault>
<fault message="tns:NoSuchMethodException" name="NoSuchMethodException" wsam:Action="http://galgeleg/GalgeI/get/Fault/NoSuchMethodException"></fault>
</operation>
<operation name="put">
<input wsam:Action="http://galgeleg/GalgeI/putRequest" message="tns:put"></input>
<output wsam:Action="http://galgeleg/GalgeI/putResponse" message="tns:putResponse"></output>
</operation>
<operation name="check">
<input wsam:Action="http://galgeleg/GalgeI/checkRequest" message="tns:check"></input>
<output wsam:Action="http://galgeleg/GalgeI/checkResponse" message="tns:checkResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://galgeleg/GalgeI/check/Fault/IllegalAccessException"></fault>
<fault message="tns:InvocationTargetException" name="InvocationTargetException" wsam:Action="http://galgeleg/GalgeI/check/Fault/InvocationTargetException"></fault>
<fault message="tns:NoSuchMethodException" name="NoSuchMethodException" wsam:Action="http://galgeleg/GalgeI/check/Fault/NoSuchMethodException"></fault>
</operation>
<operation name="print">
<input wsam:Action="http://galgeleg/GalgeI/printRequest" message="tns:print"></input>
<output wsam:Action="http://galgeleg/GalgeI/printResponse" message="tns:printResponse"></output>
</operation>
</portType>
<binding name="GalgelogikPortBinding" type="tns:GalgeI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="erSidsteBogstavKorrekt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletSlut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletTabt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletVundet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAntalForkerteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBrugteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMuligeOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrdet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSynligtOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="gætBogstav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentBruger">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentNavn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentOrdFraDr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentUrl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="logStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="nulstil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="opdaterSynligtOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setOrdet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="doit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchMethodException">
<soap:fault name="NoSuchMethodException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getint">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchMethodException">
<soap:fault name="NoSuchMethodException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getlist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchMethodException">
<soap:fault name="NoSuchMethodException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="users">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="get">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchMethodException">
<soap:fault name="NoSuchMethodException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="put">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="check">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
<fault name="InvocationTargetException">
<soap:fault name="InvocationTargetException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchMethodException">
<soap:fault name="NoSuchMethodException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="print">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GalgelogikService">
<port name="GalgelogikPort" binding="tns:GalgelogikPortBinding">
<soap:address location="http://ubuntu4.javabog.dk:55556/galgeleg"></soap:address>
</port>
</service>
</definitions>